header{
				height:100px;
				background:linear-gradient(to top,#f2f2f2,darkgray);
				border-bottom:5px solid red;
			}
			figure>img{
				height:70px;
				width:120px;
				float:left;
				margin-left:-13px;
				
			}
			div{
				color:white;
				float:left;
				background:linear-gradient(to top,#ff0000,#660000,#330000);
				margin-top:0px;
				margin-left:28px;
				font-size:28px;
				font-weight:bold;
				padding-left:13px;
				padding-right:13px;
			}
			.clear{
				clear:both;
			}
			th{
				background-image:url('news1.png');
				background-size:100% 100%;
				width:30%;
			}
			table{
				background:#f2f2f2;
				padding:10px;																				
				border-radius:10px;															
				box-shadow:2px 5px 2px gray;
			}
			select{
				background:lightgray;
				border:2px;
				color:gray;
			}
			button{
				background:red;
				color:white;
				border-color:red;
			}
			#abc{
				font-weight:bold;
			}